*

!.github/
!.github/**/
!assets/
!assets/**/
!.editorconfig
!.envrc
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!.justfile
!.python-version
!example.env
!LICENSE
!README.md

!src/
!src/**/

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.toml
!*.yaml
!*.yml
!*.typed
!*.py
!*.ipynb
